/*   Responsive Css  */  

@media screen and (min-width: 768px){
     
.home_chiefBox .home_chiefBox_lft {
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
}
.home_chiefBox .home_chiefBox_rght {
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%; 
}
    
}
 
@media screen and (min-width: 992px){

.fixdNav {
    display: none;
}
.main-navigation ul > li:last-child > a {
    padding-right: 0;
}
.main_nav_top ul li.current_page_item > a {
    font-weight: 700; 
    color: #46ad96;
}
.main_nav_top {
    margin-bottom: 0;
} 
.main-navigation ul > li > a:hover{
    text-decoration: none;
    color: #46ad96;
} 
.main_nav_top ul li.hasMenu > a {
    position: relative; 
    margin-right: 10px;
}
.main_nav_top ul li.hasMenu > a:after {
    content: '';
    border: 2px solid #46ad96;
    width: 8px;
    height: 8px;
    position: absolute;
    right: 10px;
    border-top: 0;
    border-left: 0;
    transform: rotate(45deg) translateY(-50%);
    top: 50%;
    margin-top: -4px;
} 
.home_abt_top {
    max-width: 55%;
}
.main_nav_top ul li.menu-item-has-children:after {
    content: '';
    border: 2px solid #46ad96;
    width: 6px;
    height: 6px;
    padding: 0;
    display: inline-block;
    position: absolute;
    right: 5px;
    border-top: 0;
    border-left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    margin-top: -2px;
}
.main_nav_top ul li { 
    padding: 6px 0; 
}
.header .main_nav_top .menu-top-menu-container .sub-menu {
    position: absolute;
    background: #fff;
    min-width: 140px;
    padding: 3px;
    z-index: 9;
    box-shadow: 0 0 5px #20324a;
    display: none;
    transition: all .7s;
    top: 100%;
    left: 0;
    box-shadow: 0 8px 32px rgba(30, 30, 36, 0.2);
}
.header .main_nav_top .menu-top-menu-container ul li:hover .sub-menu{
    display: block;
}
.header .main_nav_top .menu-top-menu-container .sub-menu:before {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: -8px;
    margin-left: -13px;
    width: 18px;
    height: 18px;
    background-color: #fff;
    content: '';
    display: block;
    transform: rotateZ(45deg);
    border-top-left-radius: 3px;
    border-bottom-right-radius: 50%;
    z-index: 0;
}
.header .main_nav_top .menu-top-menu-container .sub-menu li {
    display: block;
    padding: 0;
    margin: 0;
}
.header .main_nav_top .menu-top-menu-container .sub-menu li a {
    display: block;
    padding: 9px 18px;
    border-bottom: 1px solid #f2f2f2;
    text-transform: uppercase;
    text-align: left;
    margin: 0;
    text-decoration: none;
    transition: all .5s;
}
.header .main_nav_top .menu-top-menu-container .sub-menu li a:hover, .header .main_nav_top .menu-top-menu-container .sub-menu li.current_page_item a {
    color: #28283c;
    background-color: #f2f2f2;
}  
    
}

@media screen and ( min-width: 1200px ) {

.container {
    max-width: 1665px;
    padding-left: 130px;
    padding-right: 130px;
}  
p {
    margin-bottom: 15px; 
} 
.home_strgiesRow .row {
    margin: 0 -45px;
}
.home_strgiesRow [class*='col-'] {
    padding: 0 45px;
}
.home_news_lft {
    padding-right: 100px;
}
.home_news_rght {
    position: relative;
    right: -15%;
} 
.value_box, .strgs_featuresBox, .location_cardBox {
    padding: 0 10px;
    font-size: 15px;
}
.investprc_sec2_cardBox_inBlue ul {
    display: flex;
    flex-wrap: wrap;
}
.investprc_sec2_cardBox_inBlue li {
    width: 49%; 
}
.investprc_sec2_cardBox_inBlue li:nth-child(even) {
    margin-left: 2%;  
}
.team_cardList {
    padding: 0 25px;
}
.team_cardList .row {
    margin: 0 -50px;
}
.team_cardList [class*='col-'] {
    padding: 0 25px;
}
.strgs_sec1_img {
    margin-left: 50px;
}
.ftrMenu-list li {
    width: 42%;
}
.ftrMenu-list li:nth-child( even ) {
    margin-left: 14%;
}
    
}    

@media screen and ( min-width: 1600px ) {

.homeBanner_btmimg img {
    position: relative;
    right: -3em;
    width: 1070px;
}
.homeBanner_btmimg {
    bottom: -213px;
}
    
}

@media screen and ( min-width: 1700px ) {
    
.header_main, .ftrMain {
    padding-left: 25px !important;
    padding-right: 25px !important;
}
.investprc_sec2_right {
    margin-left: 3%;
}

}

@media screen and (max-width: 1599px) {
    
.coming_soon_wrapper {
    padding: 100px 50px;
    background-size: 80% auto;
}
.coming_soon_wrapper .website_logo img {
    max-width: 300px;
}
.coming_soon_wrapper .coming_soon_content {
    margin-top: 120px;
}
.coming_soon_wrapper .coming_soon_content h1 {
    font-size: 85px;
} 
    
} 

@media ( min-width: 1300px ) and ( max-width: 1599px ) {

.homeBanner_btmimg img {
    position: relative;
    right: -2em;
    width: 1040px;
}
.homeBanner_btmimg {
    bottom: -207px;
}
    
}

@media ( min-width: 1300px ) and ( max-width: 1459px ) {
    
.innerBanner { 
    background-size: 90%; 
    padding: 80px 0;
}
    
}

@media ( min-width: 1200px ) and ( max-width: 1299px ) {

.homeBanner_btmimg img {
    position: relative;
    right: -2em;
    width: 920px;
}
.homeBanner_btmimg {
    bottom: -183px;
}
    
}

@media screen and ( max-width: 1299px ){
    
.homeBanner { 
    padding-bottom: 130px;
    padding-top: 130px; 
    background-size: 51%;
}
.homeBanner_txt h1 {
    font-size: 50px;
}
.homeBanner .homeBanner_txt {
    padding-left: 12%;
}
.homeBanner_btmimg { 
    bottom: -160px;
}
.homeBanner_btmimg img {
    width: 800px;
}
.big_container {
    padding-left: 50px;
    padding-right: 50px;
}
.container { 
    padding-left: 80px;
    padding-right: 80px;
} 
.innerBanner {
    padding: 75px 0;
    background-size: 88%;
}
.innerBanner_wrap h2, .innerBanner_wrap h1 {
    font-size: 40px;
}
.singleInsight .featured-image img { 
    height: 400px; 
}
    
}

@media screen and ( max-width: 1199px ){
  
.container_outer {
    padding: 0 15px;
}
.container_outer_pb{
    padding-bottom: 15px;
}
.container, .big_container{
    max-width: 100%;
    padding: 0 35px;
}
.padd-row {
    padding: 80px 0;
}
footer.footer {
    padding-top: 60px;
}
.cmnPadd{
    padding: 100px 0;
}
body{
    font-size: 15px;
} 
.header{
    padding: 0;  
}
.header_main {
    padding: 20px 0;
}
.logo img {
    width: 145px;
}
.logo .logotxt {
    font-size: 14px; 
    margin-top: 2px;
}
.main-navigation ul > li > a {
    font-size: 16px;
} 
.homeBanner .homeBanner_txt {
    padding-left: 35px;
}
.homeBanner_txt h1 {
    font-size: 42px;
}
.homeBanner_txt_container {
    padding: 20px 0;
}
.home_abt_top_blockquote {
    font-size: 19px;  
    padding-left: 15px;
}
.blockQuote {
    font-size: 19px;
}
.subHeading {
    font-size: 10px;
}
.main_heading h2, h2, .innerBanner_wrap h2, .innerBanner_wrap h1 {
    font-size: 34px;
}
.sub_heading h3 {
    font-size: 26px;
}
.btn-style, .news_popForm div.wpforms-container-full .wpforms-form button[type=submit], .home_contact_form .wpforms-container-full .wpforms-form .btn-style { 
    font-size: 13px; 
    padding: 8px 18px; 
} 
.btn-style::after { 
    border-top-width: 20px;
    border-left-width: 14px;
    border-bottom-width: 20px; 
    right: -16px;
} 
.btn-style:hover, .news_popForm div.wpforms-container-full .wpforms-form button[type=submit]:hover, .home_contact_form .wpforms-container-full .wpforms-form .btn-style:hover { 
    padding-right: 20px;  
} 
.home_news_lft {
    padding-right: 4%;
}
.home_news:after { 
    width: 27%;
}
.home_news:before {
    right: 27%;
    width: 1%;
}
.innerBanner {
    padding: 65px 0;
}
    
} 

@media ( min-width: 991px ) and ( max-width: 1199px ) {
    
.main-navigation ul > li > a {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 11px;
} 
    
}
 
@media screen and (max-width: 991px) {
  
body, .fonts14, .home_newsBox .home_newsBoxDesc h4 {
    font-size: 13px;
}
.container{ 
    padding: 0 25px;
} 
.small_container {
    padding-left: 25px;
    padding-right: 25px;
}
.padd-row  {
    padding: 70px 0;
}
.cmnPadd{
    padding: 70px 0;
} 
.main_heading {
    margin-bottom: 45px;
}
div#collapsibleNavbar {
    position: fixed;
    background-color: #fbf3e6;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100% !important;
    padding: 30px 35px 0;
    overflow-y: auto;
    transition: all .2s;
    z-index: 2;
}
.closeBtn a {
    position: relative;
    right: -10px;
}
.main_nav_top{
    display: none;
}
.coming_soon_wrapper {
    padding: 120px 50px;
    background-size: 85% auto;
}
.coming_soon_wrapper .website_logo img {
    max-width: 250px;
}
.coming_soon_wrapper .coming_soon_content {
    margin-top: 100px;
}
.coming_soon_wrapper .coming_soon_content h1 {
    font-size: 65px;
}
.coming_soon_wrapper .coming_soon_content p,
.coming_soon_wrapper .coming_soon_content p a {
    font-size: 12px;
}
.homeBanner_txt h1 {
    font-size: 36px;
}  
.homeBanner {
    padding-bottom: 80px;
    padding-top: 80px; 
}
.homeBanner_btmimg {
    bottom: -103px;
}
.homeBanner_btmimg img {
    width: 520px;
}
.home_abt_top {
    max-width: 350px;
}
.home_abt_top_blockquote {
    font-size: 16px; 
}
.blockQuote {
    font-size: 16px;
    margin: 25px 0;
}
.home_val_listBox {
    padding-right: 64px;
}
.home_val_list .home_val_listBox h4, .home_strgsBox .home_strgsBox_txtWrap h4, .home_chiefBox .home_chiefBoxDesc .home_chiefBoxDesc_name, .value_box h6, .strgs_featuresBox h4, .location_cardBox h4, .team_cardBox h4, .teamModalBox h4   {
    font-size: 14px;
}
.home_chiefBox .home_chiefBoxDesc { 
    padding: 35px 35px 35px 50px;
}
.home_chiefBox .home_chiefBoxDesc:before { 
    top: 39px;
    left: 10px; 
    background-size: 25px; 
}
.home_chiefBox .home_chiefBox_rghtImg img { 
    transform: inherit; 
}
.home_chiefBox_rghtImg {
    padding: 5px 0 0 5px;
}
.home_strgsBox .home_strgsBox_txtWrap .home_strgsBox_desc {
    margin-top: 8px;
}
.home_strgsBox .home_strgsBox_txtWrap { 
    padding-top: 12px;
} 
.teamModal .modal-dialog {
    padding: 20px 5px;
}
.contact_mapBox iframe {
    height: 230px !important;
}
.fixdNav-mid ul li a svg.icon.icon-angle-down, svg.icon.icon-angle-down {
    display: none !important;
}
.fixdNav-mid ul li {
    position: relative; 
}
.fixdNav-mid ul li a {
    font-size: 14px;
    text-align: left;
}
.fixdNav-mid ul li .dropdown-toggle {
    background: transparent;
    position: absolute;
    top: 25px; 
    right: 0;
    box-shadow: none !important;
    outline: none !important;
}
.fixdNav-mid ul li .dropdown-toggle::after {
    content: '';
    border: 2px solid #46ad96;
    width: 8px;
    height: 8px;
    position: absolute;
    right: 10px;
    border-top: 0;
    border-left: 0;
    transform: rotate(45deg) translateY(-50%);
    top: 50%;
    margin-top: -4px;
}
.fixdNav-mid ul .sub-menu {
    display: none;
    width: 100%;
}
.fixdNav-mid ul .sub-menu.toggled-on {
    display: block;
    padding: 12px 0 12px 20px;
}
.fixdNav-mid ul li .sub-menu li a {
    font-size: 12px;
    padding: 10px 0;
} 
.investprc_sec2_cardBox_inWhite_greenBG h4 {
    font-size: 17px;
} 
.cmnPageSec h1 {
    font-size: 28px;
}
.post_card .post_card_body h4 {
    font-size: 20px;
    margin: 12px 0 12px;
    color: #28283c;
}
.post_card .post_card_body { 
    font-size: 14px; 
}
.post_card .insight_cate span {
    font-size: 9px;
}
.insightsSec_tabs ul {
    padding-bottom: 8px; 
    margin-bottom: 40px;
}
.insightsSec_tabs ul li a {
    font-size: 14px;
}
.post_card_feature .post_card_body {
    padding-left: 0;
}
.post_card_feature.post_card .post_card_body h4 {
    font-size: 22px;
}
.post_card_feature .insight_para_block { 
    padding-left: 20px; 
    font-size: 15px;
    margin: 20px 0;
}
.post_card_feature.post_card .post_card_img img {
    height: 290px;
}
.post_card .post_card_img img { 
    height: 215px; 
}
    
} 

@media ( min-width: 768px ) and ( max-width: 991px ) { 
    
.home_newsBox .home_newsBox_lft {
    width: 150px;
    padding-right: 15px;
}
.home_newsBox .home_newsBoxImg img { 
    height: 90px; 
}
.home_newsBox .home_newsBox_rght {
    width: calc(100% - 150px);
} 
.teamModal .teamModalBox_descWrap {
    padding-right: 35px;
}
.teamModal .modal-dialog {
    padding: 25px 15px;
}
.teamModalBox_row {
    width: calc(100% - 40px );
    padding: 0 10px;
}
.teamModal .teamModalBox_desc {
    font-size: 12px;
    margin-top: 14px;
    padding-top: 14px;
}
.teamModal .teamModalBox_subtitle { 
    font-size: 12px;
}
.teamModal_navbtn { 
    width: 20px !important; 
}
.teamModalBox_heading .teamModalBox_close {
    right: 0;
    top: -20px;
}
.investprc_sec2_cardBox_inGreyBox_big ul li {
    font-size: 13px;
}
    
} 

@media screen and ( max-width: 767px ){
    
body {
    overflow-x: hidden;
} 
.container_outer, .container, .big_container {
    padding: 0 15px;
} 
.container_outer_pb{
    padding-bottom: 15px;
}
.cmnPadd{
    padding: 60px 0;
} 
.padd-row {
    padding: 60px 0;
} 
.main-heading h2, h2, .innerBanner_wrap h2, .innerBanner_wrap h1 {
    font-size: 28px;
} 
footer.footer { 
    padding: 40px 0 25px;
    font-size: 13px;
    background-position: bottom right;
}
.ftrCprght { 
    font-size: 11px; 
    margin-top: 25px;
    padding-top: 25px; 
}
.ftrMain [ class*='col-' ] {
    margin-bottom: 40px;
} 
.ftrMain [ class*='col-' ]:last-child {
    margin-bottom: 0;
} 
html, body, .coming_soon_wrapper{
    height: 100%;
}
.coming_soon_wrapper {
    padding: 100px 20px;
    background-size: 100% auto;
}
.coming_soon_wrapper .website_logo img {
    max-width: 280px;
}
.coming_soon_wrapper .coming_soon_content {
    margin-top: 100px;
}
.coming_soon_wrapper .coming_soon_content h1 {
    font-size: 52px;
}
.coming_soon_wrapper .coming_soon_content p,
.coming_soon_wrapper .coming_soon_content p a {
    font-size: 11px;
    letter-spacing: 1px;
} 
.coming_soon_wrapper .coming_soon_content p {
    margin-top: 18px;
}
.homeBanner {
    padding-bottom: 80px;
    padding-top: 35px;
    background-image: none !important;
}
.homeBanner_btmimg {
    bottom: -57px;
    text-align: right;
}
.homeBanner_btmimg img {
    width: 290px;
}
.home_abt_top {
    padding-top: 20px;
}
.home_abt_btm {
    margin-top: 55px;
}
.btn-wrap, .mtMob25 {
    margin-top: 25px;
}
.home_chiefBox {
    display: block;
}
.home_chiefBox_rghtImg {
    padding: 20px 0 0 20px;
}
.home_strgiesRow [class*='col-'] + [class*='col-'] {
    margin-top: 35px;
}
.home_news {
    background: transparent;
    padding: 0;
}
.home_news > .container {
    padding: 0;
}
.home_news:after, .home_news:before {
    display: none;
}
.home_newsIn .row {
    margin: 0;
}
.home_newsIn [class*='col-'] {
    padding: 0;
}  
.home_newsBox {
    display: block;
}
.home_news_lft{
    padding: 0;
}
.home_newsBox .home_newsBox_lft {
    width: 100%;
    padding-right: 0;
    padding-bottom: 20px;
}
.home_newsBox .home_newsBox_rght{
    width: 100%;
}
.home_newsBox .home_newsBox_rght:before{
    right: 0;
}
.home_newsBox .home_newsBoxImg img { 
    height: 180px; 
}
.home_news_lftBox {
    padding: 45px 15px;
    background: #D4E2EB;
}
.home_news_rght {
    padding: 45px 15px;
    background: #F5F5F5;
    margin-top: 15px;
}
.logo img {
    width: 160px;
}
.innerBanner {
    padding: 45px 0;
} 
.innerBanner_wrap h1 {
    font-size: 24px;
}
.sub_heading h3 {
    font-size: 22px;
}
.sub_heading {
    margin-bottom: 18px;
}
.locations_links ul li + li {
    margin-top: 6px;
}
.locations_links ul li a { 
    font-size: 13px; 
}
.who_we_sec .who_we_right {
    margin-top: 55px;
}
.who_we_sec .who_we_img2 {
    margin-bottom: 25px;
}
.ptMob35{
    padding-top: 35px;
}
.value_box .value_icon img {
    max-height: 50px;
}
.value_box h6, .strgs_featuresBox h4, .location_cardBox h4  {
    margin-bottom: 12px;
    padding-bottom: 12px;
}
.strgs_featuresBox h4 {
    margin-bottom: 9px;
    padding-bottom: 9px;
}
.value_box p {
    margin: 0;
    font-size: 12px;
}
.values_iconllist > .row {
    margin-bottom: -45px;
}
.values_iconllist [class*='col-'], .location_card [class*='col-'], .team_cardList [class*='col-'] {
    margin-bottom: 45px;
}
.strgs_featuresBox_list [class*='col-']{
    margin-bottom: 25px;
}
.strgs_featuresBox_list [class*='col-']:last-child {
    margin-bottom: 0;
}
.home_contactIn .main_heading {
    margin-bottom: 20px !important;
}
.home_prcs_btn {  
    position: static; 
    float: none; 
    left: auto;
}
.homeBanner .homeBanner_txt{
    padding: 0 30px;
}
.btn-style::after {
    border-top-width: 20px;
    border-left-width: 12px;
    border-bottom-width: 20px;
    right: -13px;
    top: -2.5px;
}
.investprc_sec2_right {
    margin-left: 5px;
    margin-right: 5px;
}
.investprc_sec2_cardBox_in {
    padding: 20px;
    font-size: 13px;
}
.investprc_sec2_cardBox_in h5 {
    font-size: 14px; 
    margin-bottom: 8px; 
}
.investprc_sec2_cardBox_inWhite_desc { 
    font-size: 14px;
}
.investprc_sec2_cardBox_inGrey [class*='col-']:nth-child(2) {
    border: 0;
    padding-left: 15px;
    margin-top: 25px;
}
.investprc_icon { 
    margin-top: -42px;
    padding-bottom: 15px;
}
.investprc_icon img {
    width: 42px;
}
.teamModalBox {
    display: block;
}
.teamModalBox_row {
    width: 100%;
    padding: 0 10px;
} 
.teamModalBox_lftSide {
    margin-bottom: 40px;
}
.teamModalBox_heading .teamModalBox_close {
    top: -25px;
    right: -10px;
}
.teamModal .teamModalBox_desc { 
    font-size: 12px;
}
.teamModal .teamModalBox_subtitle { 
    font-size: 13px;
}
.teamModal_btnwrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.teamModal_navbtn { 
    width: 30px !important;
    margin: 0 5px; 
}
.team_cardBox .team_cardBox_img .team_cardBox_img_design { 
    height: 80px; 
}
.team_cardBox .team_cardBox_img .team_cardBox_image img {
    max-height: 115px; 
}
.team_cardBox h4 {
    font-size: 13px;
}
.team_cardBox .team_cardBox_cnt .team_cardBox_desc {
    font-size: 11px;
    margin-top: 4px;
}
.teamModal .teamModalBox_descWrap {
    padding-right: 40px;
}
.teamModal .teamModalBox_desc:before { 
    top: -2px; 
    margin-left: 18px;
    width: 25px;
    height: 20px; 
}
.teamModal .teamModalBox_desc:after { 
    width: 26px; 
    top: 8px; 
    margin-left: -4px;
}
.teamModalBox_img {
    max-width: 260px;
}
.teamModalBox_img .teamModalBox_image img {
    max-height: 170px;
}
.contact_sec3_rght {
    margin-top: 35px;
}
.contact_tabNav ul {
    display: flex;
    align-items: center;
    font-size: 13px;
}
.contact_tabNav li + li {
    margin-top: 0;
    margin-left: 18px;
}
.contact_sec2_rght {
    margin-top: 15px;
}
.location_card [class*='col-'] {
    margin-bottom: 25px;
}
.investPrcsPage .innerBanner {
    background-size: 60% !important;
}
.strgsPage .innerBanner {
    background-size: 70% !important;
}
.page-id-320 .innerBanner{
    background-size: 80% !important;
}
.teamPage .innerBanner { 
    background-size: 100% !important;
}
.contactPage .innerBanner { 
    background-size: 100% !important;
}
.banner_bredcrumb {
    font-size: 10px; 
    letter-spacing: 1.5px;
}
.teamModalBox_row {
    position: relative;
}
.teamModalBox_heading, .teamModalBox_row [class*='col-'] {
    position: static;
}
.investprc_sec2_cardBox_inWhite_greenBG {
    margin-top: 0;
}
.investprc_sec2_cardBox_inWhite_greenBG{
    padding: 20px;
} 
.strgsSingle_mobPad{
    padding-top: 0 !important;
}
.strgsSingle_sec2_right.mtMob25 {
    margin-top: 8px !important;
} 
.investprc_sec2_cardBox_lft {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}
.investprc_sec2_cardBox_inGreyBox_big ul { 
    padding-left: 12px;
} 
.investprc_sec2_cardBox_inGreyBox_big ul li {
    line-height: 1.1;
    margin-bottom: 8px;
}
.investprc_sec2_cardBox_inGreyBox_big ul li:nth-child(odd) {
    width: 45%;
    margin-left: 0;
}
.investprc_sec2_cardBox_inGreyBox_big ul li:nth-child(even) {
    width: 45%;
    margin-left: 10%;
}
.investprc_iconLft {
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
    top: -18px;
}
.investprc_iconLft img {
    width: 51px;
}
.investprc_sec2_cardBox_inBlue {
    padding-top: 40px;
}
.investprc_sec2_cardBox_inWhite_greenBG {
    position: static;
    margin-top: 20px;
} 
.post_card_feature.post_card .post_card_img img {
    height: 200px;
}
.post_card_feature.post_card .post_card_body h4 {
    font-size: 21px;
}
.insightsSec_tabs ul li + li {
    margin-left: 12px;
}
.insightsSec_tabs ul li a {
    font-size: 12px;
}
.singleInsight .featured-image img { 
    height: 210px; 
}
    
}  

@media screen and ( max-width: 374px ){
    
.investPrcsPage .innerBanner {
    background-size: 70% !important;
}
.teamPage .innerBanner {
    background-size: 120% !important;
}
.singleInsight .featured-image img {
    height: 185px;
}
.page-template-insights .post_card .post_card_img img {
    height: 175px;
}
.insightsSec_tabs ul li a {
    font-size: 11px;
}
.insightsSec_tabs ul li + li {
    margin-left: 10px;
}
     
}